# wandb
wandb_project: lbm-fill-lighting
backbone_signature: stable-diffusion-v1-5/stable-diffusion-v1-5
unet_input_channels: 10
vae_num_channels: 4
timestep_sampling: custom_timesteps
selected_timesteps: [250, 500, 750, 1000]
prob: [0.25, 0.25, 0.25, 0.25]
pixel_loss_type: lpips # l1 l2
pixel_loss_weight: 10.0
latent_loss_type: l2 # l1 l2
latent_loss_weight: 1.0
bridge_noise_sigma: 0.005
conditioning_images_keys: [shading]
conditioning_masks_keys: [depth, light_scale]
source_key: source
target_key: target

# light params embedder
light_params_input_key: light_params
light_params_num_frequencies: 6
light_params_include_input: true
light_params_hidden_dims: [256, 512]
light_params_num_tokens: 77
light_params_embedding_dim: 768
light_params_ucg_rate: 0.0

# DATA ROOTS
train_data_root: /path/to/fill/train
validation_data_root: /path/to/fill/val
albedo_folder: albedo
rgb_folder: rgb
target_folder: target
depth_folder: depth
light_params_folder: light_params
light_scale_folder: light_scale
image_size: 512
num_workers: 4
train_random_flip: true
train_random_scale_min: 0.9
train_random_scale_max: 1.1

batch_size: 1
learning_rate: 4e-5
optimizer: AdamW
num_steps: [1, 4]
log_interval: 500
resume_from_checkpoint: true
max_epochs: 50
save_interval: 1000
save_ckpt_path: ./checkpoints
