# wandb
wandb_project: lbm-relight
backbone_signature: stable-diffusion-v1-5/stable-diffusion-v1-5
unet_input_channels: 12
vae_num_channels: 4
timestep_sampling: custom_timesteps
selected_timesteps: [250, 500, 750, 1000]
prob: [0.25, 0.25, 0.25, 0.25]
pixel_loss_type: lpips # l1 l2
pixel_loss_weight: 10.0
latent_loss_type: l2 # l1 l2
latent_loss_weight: 1.0
bridge_noise_sigma: 0.005
conditioning_images_keys: [shading, normal]
conditioning_masks_keys: []
source_key: source
target_key: target
source_image_key: source.png
target_image_key: target.png
shading_key: shading.png
normal_key: normal.png

# SHARDS_PATH_OR_URLS
train_shards:
  - pipe:cat /home/ssy/fillnet/relight_webdataset/relight-{000005..000120}.tar
#  - pipe:cat /home/ssy/fillnet/relight_webdataset/relight-{000005..000006}.tar

validation_shards:
  - pipe:cat /home/ssy/fillnet/relight_webdataset/relight-{000000..000004}.tar
#  - pipe:cat /home/ssy/fillnet/relight_webdataset/relight-000000.tar

batch_size: 2
learning_rate: 4e-5
optimizer: AdamW
num_steps: [1, 4]
log_interval: 500
resume_from_checkpoint: true
max_epochs: 50
save_interval: 10000
save_ckpt_path: ./checkpoints